/*** CODE BLOCKS ***/
.code_block {
  margin: 12px 0;
}

.code_header {
  position: relative;
  background-color: #E0E0E0;
  font-size: 14px;
  padding: 4px 7px;
  border: solid 1px #B6B6B6;
  border-bottom: none;

	-moz-border-radius-topright: 7px;
	-moz-border-radius-topleft: 7px;
	-webkit-border-top-right-radius: 7px;
	-webkit-border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	border-top-left-radius: 7px;
}

.code_header .clippy {
  position: absolute;
  top: 4px;
  right: 7px;
}

.clippy_label {
  position: absolute;
  right: 20px;
  top: 1px;
  text-align: right;
  width: 200px;
  font-size: 10px;
  color: #555;
}

.CodeRay {
  overflow: auto;
  border: 1px solid #777;
  border-top: none;
  padding: 5px 7px;
  font-size: 13px;
  margin: 0;
  line-height: 15px;
}

code {
  border: solid 1px #CCC;
  background-color: #EEE;
  font-family: 'Menlo', 'Courier New', 'Terminal', monospace;
  padding: 0 3px;
}

pre code {
  display: block;
  background-color: #EEE;
  padding: 5px 7px;
}

.CodeRay {  
  background-color: #343434;  
  border: 1px solid black;
	border-top: none;
  font-family: 'Courier New', 'Terminal', monospace;  
  color: #E6E0DB;  
  padding: 3px 5px;  
  overflow: auto;  
  font-size: 12px;

	-moz-border-radius-bottomright: 7px;
	-moz-border-radius-bottomleft: 7px;
	-webkit-border-bottom-right-radius: 7px;
	-webkit-border-bottom-left-radius: 7px;
	border-bottom-right-radius: 7px;
	border-bottom-left-radius: 7px;
}
.CodeRay pre {  
  margin: 0px;  
  padding: 0px;
}
.CodeRay::-webkit-scrollbar {
    height: 7px;
    width: 7px;
}

.CodeRay::-webkit-scrollbar-button:start:decrement,
.CodeRay::-webkit-scrollbar-button:end:increment {
    display: none;
}

.CodeRay::-webkit-scrollbar-track-piece {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, .3)), to(rgba(0, 0, 0, .1)));
}

.CodeRay::-webkit-scrollbar-thumb:horizontal {
    background: -webkit-gradient(linear, left top, left bottom, from(#99a2ab), to(#6a747c));
    -webkit-border-radius: 3px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .66) inset;
    width: 25px;
}
   
.CodeRay .an { color:#E7BE69 }                      /* html attribute */  
.CodeRay .c  { color:#BC9358; font-style: italic; } /* comment */  
.CodeRay .ch { color:#509E4F }                      /* escaped character */  
.CodeRay .cl { color:#FFF }                         /* class */  
.CodeRay .co { color:#FFF }                         /* constant */  
.CodeRay .fl { color:#A4C260 }                      /* float */  
.CodeRay .fu { color:#FFC56D }                      /* function */  
.CodeRay .gv { color:#D0CFFE }                      /* global variable */  
.CodeRay .i  { color:#A4C260 }                      /* integer */  
.CodeRay .il { background:#151515 }                 /* inline code */  
.CodeRay .iv { color:#D0CFFE }                      /* instance variable */  
.CodeRay .pp { color:#E7BE69 }                      /* doctype */  
.CodeRay .r  { color:#CB7832 }                      /* keyword */  
.CodeRay .rx { color:#A4C260 }                      /* regex */  
.CodeRay .s  { color:#A4C260 }                      /* string */  
.CodeRay .sy { color:#6C9CBD }                      /* symbol */  
.CodeRay .ta { color:#E7BE69 }                      /* html tag */  
.CodeRay .pc { color:#6C9CBD }                      /* boolean */